

ApiCognosV1/Migrations/ApplicationDBContextModelSnapshot.cs
.vs/ApiCognosV1/v17/.suo
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/v17/.futdcache.v2
.vs/ApiCognosV1/v17/.futdcache.v2
.vs/ApiCognosV1/FileContentIndex/96273b80-340e-4115-922a-ccc0b9030dd8.vsidx
.vs/ApiCognosV1/FileContentIndex/8ac3862d-ce0a-4a44-9245-6f5819694d12.vsidx
*.vsidx
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/ApiCognosV1/v17/.futdcache.v2
*.v2
*.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/FileContentIndex/34f7af71-778a-4720-8541-873e108f7b34.vsidx
.vs/ApiCognosV1/FileContentIndex/3c680878-9273-4a21-b0a6-5d42677774c6.vsidx
*.vsidx
.vs/ApiCognosV1/v17/.futdcache.v2
.vs/ApiCognosV1/v17/.suo
ApiCognosV1/obj/Debug/net7.0/refint/ApiCognosV1.dll
ApiCognosV1/obj/Debug/net7.0/ref/ApiCognosV1.dll
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.dll
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.csproj.CoreCompileInputs.cache
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
ApiCognosV1/obj/ApiCognosV1.csproj.nuget.dgspec.json
ApiCognosV1/obj/ApiCognosV1.csproj.nuget.g.props
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.AssemblyInfoInputs.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.GeneratedMSBuildEditorConfig.editorconfig
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.assets.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.csproj.AssemblyReference.cache
ApiCognosV1/obj/project.assets.json
ApiCognosV1/obj/project.nuget.cache
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/v17/.suo
ApiCognosV1/bin/Debug/net7.0/ApiCognosV1.dll
ApiCognosV1/bin/Debug/net7.0/ApiCognosV1.exe
ApiCognosV1/bin/Debug/net7.0/ApiCognosV1.pdb
ApiCognosV1/obj/ApiCognosV1.csproj.nuget.dgspec.json
ApiCognosV1/obj/ApiCognosV1.csproj.nuget.g.props
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.AssemblyInfoInputs.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.assets.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.csproj.AssemblyReference.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.csproj.CoreCompileInputs.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.csproj.FileListAbsolute.txt
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.dll
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.GeneratedMSBuildEditorConfig.editorconfig
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.genruntimeconfig.cache
ApiCognosV1/obj/Debug/net7.0/ApiCognosV1.pdb
ApiCognosV1/obj/Debug/net7.0/apphost.exe
ApiCognosV1/obj/Debug/net7.0/ref/ApiCognosV1.dll
ApiCognosV1/obj/Debug/net7.0/refint/ApiCognosV1.dll
ApiCognosV1/obj/project.assets.json
ApiCognosV1/obj/project.nuget.cache
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
