
ApiCognosV1/Migrations/ApplicationDBContextModelSnapshot.cs
.vs/ApiCognosV1/v17/.suo
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
.vs/ApiCognosV1/v17/.futdcache.v2
.vs/ApiCognosV1/v17/.futdcache.v2
.vs/ApiCognosV1/FileContentIndex/96273b80-340e-4115-922a-ccc0b9030dd8.vsidx
.vs/ApiCognosV1/FileContentIndex/8ac3862d-ce0a-4a44-9245-6f5819694d12.vsidx
*.vsidx
.vs/ApiCognosV1/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/ApiCognosV1/v17/.futdcache.v2
